CVS/
Entries
Entries.Extra
Entries.Extra.Old
Entries.Old
Repository
Root
Tag
Template
CVSROOT/

obj/*
bin/*
log/*
stress_log/*
report/*.xml
nandfile/*.bin
OUTPUT_SLOT0_L04A.img
OUTPUT_SLOT0_L06B.img

*.o
*.d
*.e
*.obj
*.log
*.bin
*.depend
*.layout
*.map
*.swp
~*
.#*
go.exe
Thumbs.db
shit*


